@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* ------------- ROOT VARIABLES -------------------*/
    :root {

        --primary-hue: 252;
        --dark-color-lightness: 17%;
        --light-color-lightness: 95%;
        --white-color-lightness: 100%;

        --color-white: hsl(252, 30%, var(--white-color-lightness));
        --color-light: hsl(252, 30%, var(--light-color-lightness));
        --color-gray: hsl(var(--primary-hue), 17%, 65%);
        --color-primary: hsl(var(--primary-hue), 75%, 60%);
        --color-secondary: hsl(252, 100%, 90%);
        --color-success: hsl(120, 95%, 65%);
        --color-danger: hsl(0, 95%, 65%);
        --color-dark: hsl(252, 30%, var(--dark-color-lightness));
        --color-black: hsl(252, 30%, 10%);

    }


    /* colors theme */
    .bg-color-1 {
        --dark-color-lightness: 17%;
        --light-color-lightness: 95%;
        --white-color-lightness: 100%;
    }

    .bg-color-2 {
        --dark-color-lightness: 95%;
        --light-color-lightness: 20%;
        --white-color-lightness: 15%;
    }

    .bg-color-3 {
        --dark-color-lightness: 95%;
        --light-color-lightness: 10%;
        --white-color-lightness: 0%;
    }

    /* primary color theme */
    .primary-color-1 {
        --primary-hue: 252;
    }

    .primary-color-2 {
        --primary-hue: 52;
    }

    .primary-color-3 {
        --primary-hue: 352;
    }

    .primary-color-4 {
        --primary-hue: 152;
    }

    .primary-color-5 {
        --primary-hue: 202;
    }

    /* font-site theme */
    .font-size-1 {
        font-size: 10px;
    }

    .font-size-2 {
        font-size: 12px;

    }

    .font-size-3 {
        font-size: 14px;

    }

    .font-size-4 {
        font-size: 16px;
    }

    .font-size-5 {
        font-size: 18px;
    }

    /* ----------- aside bar -------- */
    .active-menu {
        @apply bg-colorLight;
    }

    .active-menu::before {
        content: '';
        display: block;
        height: 100%;
        width: 0.2rem;
        position: absolute;
        background: var(--color-primary);
    }

    /* ------ right -------- */
    .active-message-tab {
        @apply border-colorPrimary;
    }

    .active-user {
        @apply w-3 h-3 rounded-full border-2 border-white bg-colorSucsess absolute bottom-0 right-0;
    }
}

main .middle .stories .story:nth-child(1) {
    background: url('/public/images/story-1.jpg') no-repeat center center/cover;
}

main .middle .stories .story:nth-child(2) {
    background: url('/public/images/story-2.jpg') no-repeat center center/cover;
}

main .middle .stories .story:nth-child(3) {
    background: url('/public/images/story-3.jpg') no-repeat center center/cover;
}

main .middle .stories .story:nth-child(4) {
    background: url('/public/images/story-4.jpg') no-repeat center center/cover;
}

main .middle .stories .story:nth-child(5) {
    background: url('/public/images/story-5.jpg') no-repeat center center/cover;
}

main .middle .stories .story:nth-child(6) {
    background: url('/public/images/story-6.jpg') no-repeat center center/cover;
}